@page "/"
@inject IJSRuntime JS;
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, User!</h1>
            <p class="lead">This is my simple weatherdata calculation app.</p>
            <hr class="my-4">
            <p>It calculates data from querys and displays different statistics.</p>
            <p class="lead"> </p>
        </div>
    </div>


        @code{


        }
